.container {
    display: flex;
    justify-content: flex-start;
}

.element {
    height: 200px;
    margin: 5px;
   
}

.kotaro {
    /* background-color: #ba7474; */
}

.sasuke {
    /* background-color: #6e6e6e; */
}